/* colors
 #003B46
 #07575B
 #66A5AD
 #C4DFE6
 #d3dfe9
*/

* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    /* background-color: #C4DFE6; */
    background: linear-gradient(-47deg, #4935ff, #4F2EE8, #4b34ae, #833ab4, #6417bd);
    background-size: 400% 400%;
    height: 100vh;
    animation: gradient 8s ease infinite;
    margin: 0px;
    line-height: 1.5;
    font-size: 15;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

a {
    text-decoration: none;
}

input {
    padding: 10px 15px 10px 15px;
    width: 220px;
    border-color: transparent;
    border-radius: 10px;
    font-size: 17;
    height: 45px;
}

button {
    font-family: inherit;
    font-weight: 600;
    padding: 10px 13px 10px 13px;
    border-radius: 30px;
    border: none;
    background-color: #0e585c;
    color: #d3dfe9;
    font-size: 18;
    margin-left: 6px;


    transition-property: background-color, color;
    transition-duration: 300ms;
    transition-timing-function: ease-in-out;
}

button:hover {
    background-color: #66A5AD;
    color: #fff;

}

.container {
    width: 100%;
    position: fixed;
    z-index: 1;
}

.search-form {
    text-align: center;
    background-color: #003B46;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;

}

.load-more {
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 10px;
}

.is-hiden {
    display: none;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
    padding-top: 100px;

}

.gallery-card {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 325px;
}

.gallery__image {
    max-width: 100%;
    height: 200px;
    border-radius: 7px;
    object-fit: cover;
    transition: transform 300ms ease-in-out;
}

.gallery__image:hover {
    transform: scale(1.05);
}

.info {
    display: flex;
    justify-content: space-between;
    background-color: #003B46;
    padding: 10px;
    border-radius: 5px;
}

.info-item {
    color: #d3dfe9;
    margin: 0px;
    display: grid;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
}

.info-item b {
    font-weight: 600;
}